<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.leokorol.testlove">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:hardwareAccelerated="true"
            android:name=".TestApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">

        <activity
                android:name="com.leokorol.testlove.ui.menu.togetherTests.results.ResultActivityTestThree"
                android:exported="true"
                android:screenOrientation="portrait" />
        <activity
                android:name="com.leokorol.testlove.ui.menu.togetherTests.results.ResultActivityTestTwo"
                android:exported="true"
                android:screenOrientation="portrait" />
        <activity
                android:name=".ui.menu.connect.SuccessConnectActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
        <activity
                android:name=".ui.menu.singleTests.SingleTestsActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
        <activity
                android:name=".ui.menu.intresting.InterestingActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
        <activity
                android:name=".ui.menu.connect.ConnectActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
        <activity
                android:name=".ui.splash.SplashActivity"
                android:exported="true"
                android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.leokorol.testlove.ui.menu.togetherTests.results.ResultsActivityTestOne"
                android:exported="true"
                android:screenOrientation="portrait" />
        <activity
                android:name="com.leokorol.testlove.ui.menu.togetherTests.testsBase.TestThreeQuestions"
                android:exported="true"
                android:screenOrientation="portrait" />
        <activity
                android:name="com.leokorol.testlove.ui.menu.togetherTests.testsBase.TestTwoQuestions"
                android:exported="true"
                android:screenOrientation="portrait" />
        <activity
                android:name="com.leokorol.testlove.ui.menu.togetherTests.testsBase.TestOneQuestions"
                android:exported="true"
                android:screenOrientation="portrait" />
        <activity
                android:name=".ui.menu.togetherTests.MenuTestsActivity"
                android:exported="true"
                android:screenOrientation="portrait" />
        <activity
                android:name=".ui.menu.MenuLauncherActivity"
                android:exported="true"
                android:hardwareAccelerated="false"
                android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-7417227423932528~4529293443" />

    </application>

</manifest>