<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.leokorol.testlove">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name=".TestApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".activites.results.ResultActivityTestThree"></activity>
        <activity android:name=".activites.results.ResultActivityTestTwo" />
        <activity android:name=".activites.menu.connect.SuccessConnectActivity" />
        <activity android:name=".activites.menu.togetherTests.TogetherEnterNameActivity" />
        <activity android:name=".activites.menu.intresting.InterestingActivity" />
        <activity android:name=".activites.menu.connect.ConnectActivity" />
        <activity android:name=".activites.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activites.results.ResultsActivityTestOne" />
        <activity android:name=".activites.tests.TestThreeQuestions" />
        <activity android:name=".activites.tests.TestTwoQuestions" />
        <activity android:name=".activites.tests.TestOneQuestions" />
        <activity android:name=".activites.menu.MenuTestsActivity" />
        <activity android:name=".activites.menu.MenuLauncherActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>